name: Release

on:
  push:
    branches:
      - test
jobs:
  get_version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for Version Update
        id: version
        uses: EndBug/version-check@v2.1.4
        with:
          file-url: https://unpkg.com/@victoria-shyika/hello-npm/package.json
          static-checking: localIsNew
          
  release:
      needs: get_version
      if: needs.version_check.outputs.changed == 'true'
      runs-on: ubuntu-latest
      steps:
        - name: Check if release is needed
          run: echo "Release is not needed at this time."
          if: needs.version_check.outputs.changed == 'false'
        - name: Create Tag and GitHub Release
          if: steps.version.outputs.changed == 'true'
          uses: actions/create-release@v1.1.4
          env:
            GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
          with:
            tag_name: ${{ steps.version.outputs.version }}
            release_name: Release ${{ steps.version.outputs.version }}
            body: |
              Changes since ${{ steps.changes.outputs.last-tag }}:
              ${{ steps.changes.outputs.log }}
